flask
gunicorn
python-docx
pdf2image
pillow
paddlepaddle>=3.2.1
paddleocr[doc-parser]
pymupdf
numpy
opencv-python-headless
safetensors
flask
gunicorn
kivy
numpy
opencv-python-headless
pdf2image
pillow
pymupdf
python-docx
safetensors
paddleocr[doc-parser]
